/* sdm660.dtsi X00TD specific diff */
&soc {
	qcom,msm-thermal-simple {
		zone@0 {
			reg = <0>;
			qcom,silver-khz = <1747200>;
			qcom,gold-khz = <2208000>;
			qcom,trip-deg = <51>;
		};

		zone@1 {
			reg = <1>;
			qcom,silver-khz = <1747200>;
			qcom,gold-khz = <1747200>;
			qcom,trip-deg = <57>;
		};

		zone@2 {
			reg = <2>;
			qcom,silver-khz = <1536000>;
			qcom,gold-khz = <1747200>;
			qcom,trip-deg = <62>;
		};

		zone@3 {
			reg = <3>;
			qcom,silver-khz = <1113600>;
			qcom,gold-khz = <1113600>;
			qcom,trip-deg = <66>;
		};

		zone@4 {
			reg = <4>;
			qcom,silver-khz = <633600>;
			qcom,gold-khz = <1113600>;
			qcom,trip-deg = <69>;
		};
	};
};
